<section class="info grid-line">
    <div class="container container-small">
        {% if title %}
            {% include "components/title/_title.html" %}
        {% endif %}
        {% if decorationTitle %}
            <h4 class="info__decoration-title">
                {{ decorationTitle }}
            </h4>
        {% endif %}
        {% if infoTitle %}
            <h3 class="info__title">
                {{ infoTitle }}
            </h3>
        {% endif %}
        {% if blockquote %}
            <blockquote class="info__blockquote">
                {{ blockquote | safe }}
            </blockquote>
        {% endif %}
       
        {% if multipleColumns %}
            <div class="info__multiple-columns info__multiple-columns--{{ multipleColumns }}">
                {% block text %}
                    
                {% endblock %}
                {% if autorName %}
                    <h4>
                        {{ autorName }}
                    </h4>
                    <h5>
                        {{ autorInfo }}
                    </h5>
                {% endif %}
            </div>
        {% endif %}
        {% if infoContacts %} 
            <ul class="info__contacts">
                {% for list in infoContacts %}
                    <li>
                        <h5>
                            {{ list.title }}
                        </h5>
                        {% if list.tel %}
                            <a href="tel:{{ list.tel | replace(' ', '') }}">
                                {{ list.tel }}
                            </a>
                        {% elseif list.email %}
                            <a href="mailto:{{ list.email | replace(' ', '') }}">
                                {{ list.email }}
                            </a>
                        {% else %}
                            <p>
                                {{ list.text }}
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if more %}
            <a href="{{ moreLink }}" class="info__more-link">
                {{ more }}
            </a>
        {% endif %}
        
        {% if paymentList %}
            <div class="info__payment">
                <h3 class="info__title">
                    Мы принимаем следующие способы оплаты:
                </h3>
                <ul class="info__payment-list">
                    {% for payment in paymentList %}
                        <li>
                            <img src="img/pay/{{ payment.img }}.png" alt="{{ payment.img }}">
                        </li>
                    {% endfor %}
                </ul>
                <div class="info__payment-text">
                    {{ paymentText }}
                    
                </div>
            </div>
        {% endif %}
    </div>
</section>