{% set brands = [
    {
        img: 'arnette',
        link: '#'
    },
    {
        img: 'burberry',
        link: '#'
    },
    {
        img: 'coach_ny',
        link: '#'
    },
    {
        img: 'michael_kors',
        link: '#'
    },
    {
        img: 'miu_miu',
        link: '#'
    },
    {
        img: 'tiffany_co',
        link: '#'
    },
    {
        img: 'versace',
        link: '#'
    }
] %}


<section class="brands grid-line">
    <div class="container">
        {% set titleClass = '' %}
        {% set title = 'Представленные бренды' %}
        {% include "components/title/_title.html" %}
        
        <div class="brands__grid">
            {% for item in brands %}
                <a href="{{ item.link }}" class="brands__item">
                    <img src="img/brands/{{ item.img }}.png" alt="{{ item.img }}">
                </a>
            {% endfor %}
            <a href="#" class="brands__item">
                Все бренды
            </a>
        </div>
    </div>
</section>
