
{# Интро слайдер - slider:
	{Слайд, каждый слайд имеет свои скобки}
	background - имя и формат картинки для фона слайда
	dateTitle - дополнительная информациия по времени акции, если не задавать значение по умолчанию будет " Период проведения акции "
	datetimeStart - время проведения акции, первая или единственная дата
	datetimeEnd - дата окончания акции, можно не задавать
	title: заголовок слайда, <br /> - тег переноса строки <span> текст </span> - выделяет текст белым
	gift, share, action - тип картинки внизу (true для нужной картинки)
#}
{% set slider = [
	{ 
		background: 'banner2.jpg',
		datetimeStart: '05.11.19',
		datetimeEnd: '05.12.19',
		title: 'Приобретите очки в нашем магазине <br /> и получите <span> подарок на выбор </span>',
		gift: true,
		share: false,
		action: false
	}, 
	{ 
		background: 'banner2.jpg',
		dateTitle: 'Скидка действует только 1 день',
		datetimeStart: '01.09.19',
		title: '1 сентебря "День знаний" - <span>на очки для детей скидка 30%</span>',
		gift: false,
		share: true,
		action: false
	},
	{
		background: 'banner2.jpg',
		datetimeStart: '10.12.19',
		datetimeEnd: '31.12.19',
		title: 'Новогодние подарки! <br/> <span> 1 + 1 = 3 </span>',
		gift: false,
		share: false,
		action: true
    }
] %}

<section class="intro grid-line">
    <div class="container">
      
        <div class="intro__slider swiper-container">
            <svg class="intro-progress" width="32" height="32">
                <circle class="intro-progress__shadow" stroke="green" stroke-width="2" cx="16" cy="16" r="14" fill="transparent"  />
                <circle class="intro-progress__circle" stroke-width="2" cx="16" cy="16" r="14" fill="transparent"  />
               
            </svg>
            <div class="swiper-wrapper">
                {% for slide in slider %}
                <div class="swiper-slide" style="background-image: url('img/{{ slide.background }}');">
                    <div class="intro__info" >
                        <h3>
                            {% if slide.dateTitle %}
                                {{ slide.dateTitle }}
                            {% else %}
                                Период проведения акции
                            {% endif %} 
                        </h3>
                        <div class="intro__time">
                            <span>
                               {{ slide.datetimeStart }} 
                            </span>
                            {% if slide.datetimeEnd %}
                                <span>
                                    {{ slide.datetimeEnd }} 
                                </span>
                            {% endif %} 
                        </div>
                    </div>

                    <h2 class="intro__title">
                        {{ slide.title | safe}}
                    </h2>
                    <div class="intro__icon">
                        {% if slide.share %}
                            <img src='img/intro__share.png' alt="share"> 
                        {% elif slide.gift %}
                            <img src='img/intro__gift.png' alt="gift"> 
                        {% elif slide.action %}
                            <img src='img/intro__action.png' alt="action"> 
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="intro__button intro__button-prev"></div>
            <div class="intro__button intro__button-next"></div>
        </div>
    </div>
</section>