{% set reviews = [
    {
        stars: 5,
        text: 'Превосходное качество, адекватная цена. Выражаю благодарность вашему магазину.',
        name: 'Елена Ф.',
        product: 'Mateas Gold',
        link: '#',
        date: '25 . 10 . 19'
    },
    {
        stars: '4',
        text: 'Хорошее качество и цена. Выражаю благодарность вашему магазину. Спасибо!',
        name: 'Петр Н.',
        product: '',
        link: '',
        date: '25 . 10 . 19'
    },
    {
        stars: '3',
        text: 'Еще рыба текст для заполнения пустого пространства.',
        name: 'Анатолий Рыбак',
        product: 'Mateas Gold',
        link: '#',
        date: '25 . 10 . 19'
    },
    {
        stars: '2',
        text: 'Еще рыба текст для заполнения пустого пространства. Выражаю благодарность вашему магазину.',
        name: 'Юрий',
        product: '',
        link: '',
        date: '25 . 10 . 19'
    },
    {
        stars: '1',
        text: 'Превосходное качество. Еще рыба текст для заполнения пустого пространства.Еще рыба текст для заполнения пустого пространства.',
        name: 'Елена Ф.',
        product: 'Mateas Gold',
        link: '',
        date: '25 . 10 . 19'
    } 
] %}


<div class="reviews grid-line">
    <div class="container container-medium">
        <div class="reviews__slider swiper-container">
            <div class="swiper-wrapper">
                {% for review in reviews %}
                    <div class="swiper-slide">
                        <div class="reviews__stars">
                            {{ mixins.reviewsStars( review.stars, 'star-solid') }}
                        </div>
                        <div class="reviews__text">
                            {{ review.text }}
                        </div>
                        <div class="reviews__info">
                            <div class="reviews__name">
                                {{ review.name }}
                                {% if review.product %} 
                                    о товаре
                                    <a href="{{ review.productLink }}" class="reviews__product">
                                        {{ review.product }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="reviews__data">
                            {{ review.date }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="reviews__button reviews__button--next"></div>
            <div class="reviews__button reviews__button--prev"></div>
        </div>
    </div>
   
</div>