{% set title = 'Спектр предоставляемых услуг' %}

{% set services = [
    {
        link: '#',
        bgImg: 'services-bg-1.jpg',
        text: 'Ремонт и оправ и линз индивидуально под клиента.'
    },
    {
        link: '#',
        bgImg: 'services-bg-2.jpg',
        text: 'Местная и выездная диагностика зрения сверхточным аппаратом.'
    }
] %}


<section class="services-section grid-line">
    <div class="container">
        {% include "components/title/_title.html" %}
        {% include 'components/services-grid/_services-grid.html' %}
    </div>
</section>