.container
    width: 100%
    margin: 0 auto
    padding: 0 40px
    +r(767)
        padding: 0 25px
    +r(575)
        padding: 0 15px
    &-xsmall
        max-width: 940px
    &-small
        max-width: 1260px
    &-medium
        max-width: 1380px
.grid-line
    position: relative
    &__wrapper
        position: absolute
        display: block
        left: 40px 
        right: 40px
        top: 0
        bottom: 0
        z-index: -1
        +r(767)
            left: 25px 
            right: 25px
        +r(575)
            left: 15px 
            right: 15px
    &__line
        position: absolute
        width: 1px
        height: 100%
        position: absolute
        // background-color: red
        background-color: $gridLineColor
        top: 0
        &:nth-child(1)
            left: 0
            z-index: 1
        &:nth-child(2)
            left: 25%
            +r(1499)
                left: 33.33%
            +r(1199)
                left: 50%
            +r(575)
                left: auto
                right: 0
        &:nth-child(3)
            left: 50%
            +r(1499)
                left: 66.66%
            +r(1199)
                left: auto
                right: 0
        &:nth-child(4)
            left: 75%
            +r(1499)
                left: auto
                right: 0
        &:nth-child(5)
            right: 0
        

