body
    font-size: 14px
    font-family: $mainFont
    font-weight: normal
    min-width: 320px

main 
    margin-top: 141px
    +r(991)
        margin-top: 81px
    +r(575)
        margin-top: 61px
a, 
a:hover,
a:focus
    text-decoration: none 