{% set banner = [
    {
        title: 'Доставка',
        text: 'Отправляем товар в любую точку.',
        icon: 'shopping-bag'
    },
    {
        title: 'Стоимость',
        text: 'Самая оптимальная цена на рынке.',
        icon: 'price-tag'
    },
    {
        title: 'Исполнение',
        text: 'Изготовление оправ за 30 минут.',
        icon: 'time-record'
    },
    {
        title: 'Гарантия',
        text: '360 дней на любой товар в магазине.',
        icon: 'sticker'
    }     
]%}

<section class="product-banner grid-line">
    <div class="container">
        <div class="product-banner__grid">
            {% for item in banner %}
                <div class="product-banner__item">
                    <h4>
                        {{ item.title }}
                    </h4>
                    <p>
                        {{ item.text }}
                    </p>
                    <svg class="icon icon-{{item.icon}}"><use xlink:href="img/sprite.svg#icon-{{item.icon}}"></use></svg>
                </div>
            {% endfor %}
        </div>
    </div>
</section>