{% set imgSlider = [
    {
        img: 'product-img-1.jpg'
    },
    {
        img: 'product-img-2.jpg'
    }
]%}

{% set productTags = 'Новинка' %}

{% set productColors = [
    {
        color: '#fef0ba',
        class: 'active'
    },
    {
        color: '#febaba'
    }, 
    {
        color: '#c0bafe'
    } 
] %}

{% set socials = [
    {
        link: '#',
        icon: 'vk'
    },    
    {
        link: '#',
        icon: 'instagram'
    },    
    {
        link: '#',
        icon: 'facebook'
    }    
]%}


{% set filterGroup = [
    {
        input: 'number',
        name: 'Левый глаз',
        id: 'leftEye'
    },
    {
        input: 'number',
        name: 'Правый глаз',
        id: 'rightEye'
    },
    {
        input: 'number',
        name: 'Межцентровое расстояние',
        id: 'centerDistance'
    },
    {
        select: true,
        name: 'Тип линзы Тип линзыТип линзы',
        options: [
            {
                value: 'Тип линзы',
                text: 'Тип линзы'
            },
            {
                value: 'Круг',
                text: 'Круг'
            },
            {
                value: 'Квадрат',
                text: 'Квадрат'
            },
            {
                value: 'Ромб',
                text: 'Ромб'
            },
            {
                value: 'Капля',
                text: 'Капля'
            }
        ]
    }    
] %}

{% set slider = [
    {
        link: '#',
        img: 'napkin.png',
        title: 'Салфетка для очков'
    },
    {
        link: '#',
        img: 'napkin.png',
        title: 'Салфетка для очков'
    },
    {
        link: '#',
        img: 'napkin.png',
        title: 'Салфетка для очков'
    },
    {
        link: '#',
        img: 'napkin.png',
        title: 'Салфетка для очков'
    }
] %}

<section class="product-card grid-line">
    <div class="container">
        {% set titleClass = 'template' %}
        {% include "components/title/_title.html" %}
        <div class="product-card__inner-wrapper">
            <div class="product-card__slider">
                <div class="product-card__top-line">
                    <button class="product-card__add-to-favorite">   
                    </button>
                    <div class="product-card__tags">
                        {{ productTags }}
                    </div>
                </div>
               
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in imgSlider %}
                            <div class="swiper-slide">
                                <img src="img/{{ slide.img }}" alt="">
                            </div>
                        {% endfor %}
                    </div> 
                </div>
                <div class="product-card__slider-button product-card__slider-button--prev"></div>
                <div class="product-card__slider-button product-card__slider-button--next"></div>
                <div class="product-card__about-wrapper">
                    <div class="product-card__colors">
                        {% for color in productColors %}
                            <div class="product-card__color {% if color.class %}product-card__color--{{ color.class }} {% endif %}" data-color="{{ color.color }}">
    
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product-card__about">
                        Изображение может незначительно отличаться от оригинального изделия.
                    </div>
                </div>
            </div>
            <div class="product-card__info card-product">
                <div class="card-product__section">
                    <div class="card-product__top-line">
                        <div class="card-product__vendor-code">
                            Арт: 68290548.3
                        </div>
                        <div class="card-product__review">
                            <div class="card-product__review-info">
                                <span>
                                    3.0
                                </span>
                                <div class="card-product__stars">
                                    {{ mixins.reviewsStars( 3, 'star-solid') }}
                                </div>
                            </div>
                            <p>
                                На основе <span>89</span> отзывов
                            </p>
                        </div>
                    </div>
                    <div class="card-product__about-text">
                        Медиабизнес исключительно стабилизирует эксклюзивный охват аудитории. Не факт, что сегментация рынка изоморфна времени. Стимулирование коммьюнити спорадически оправдывает клиентский спрос. Рекламная поддержка спонтанно изменяет инвестиционный продукт.
                    </div>
                    <div class="card-product__buy">
                        <div class="card-product__price">
                            4260 ₽
                        </div>
                        <div class="card-product__more-info">
                            Мы делаем оправы за 30 минут. Не верите? <br /> Ознакомьтесь с этим <a href="#">подробнее.</a>
                        </div>
                        <button class="card-product__add-to-cart">
                            {{ mixins.icon('add-to-basket') }}
                        </button>
                    </div>
                    <div class="card-product__social-links">
                        <p>Поделиться</p>
                        {% for social in socials %}
                            <a href="{{ social.link }}">
                                <svg class="icon icon-{{social.icon}}"><use xlink:href="img/sprite.svg#icon-{{social.icon}}"></use></svg>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-product__tab-wrapper">
                    <div class="card-product__tab">
                        <div class="card-product__tab-title">
                            Характеристики товара
                        </div>
                        <div class="card-product__tab-content">
                            Рыба текст
                        </div>
                    </div>
                    <div class="card-product__tab">
                        <div class="card-product__tab-title">
                            Отзывы о товаре <span>(89)</span>
                        </div>
                        <div class="card-product__tab-content">
                            Рыба текст
                        </div>
                    </div>
                </div>
                <div class="card-product__popup card-popup">
                    <button class="card-popup__close-btn"></button>
                    <form>
                        <div class="card-popup__line">
                            <h4 class="card-popup__title">
                                Для продолжение оформления заказа, пожалуйста, заполните данные о линзах в соответствующих полях. 
                            </h4>
                        </div>
                        <div class="card-popup__line">
                            <div class="card-popup__label custom-checbox">
                                <label class="custom-checbox__label">
                                    <span class="custom-checbox__switch">
                                        <input type="checkbox" name="Разные параметры глаз">
                                        <span class="custom-checbox__slider"></span>
                                    </span>
                                    <span class="custom-checbox__text">
                                        Разные параметры глаз
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="card-popup__line card-popup__line--inputs">
                            {% for filter in filterGroup %}
                                {% if filter.select %}
                                    <div class="filter__select">
                                        <select name="{{ filter.name }}">
                                            {% for option in filter.options %}
                                                <option value="{{ option.value }}">
                                                    {{ option.text }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% elif filter.input %}
                                    <div class="card-popup__input">
                                        <button class="card-popup__input-up"></button>
                                        <button class="card-popup__input-down"></button>
                                        <input type="{{filter.input}}" name="{{ filter.name }}" id="{{ filter.id }}" step="0.01"> 
                                        <label for="{{ filter.id }}">
                                            {{ filter.name }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-popup__line">
                            <div class="card-popup__button card-popup__button--next"></div>
                            <div class="card-popup__button card-popup__button--prev"></div>
                            <h4 class="card-popup__title">
                                Для вашей покупки предусмотрен подарок! 
                            </h4>
                        </div>
                        <div class="card-popup__line">
                            <div class="card-popup__gift-slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for slide in slider %}
                                            <div class="swiper-slide">
                                                <a href="{{ slide.link }}" class="card-popup__slide">
                                                    <img src="img/{{slide.img}}" alt="{{slide.title}}">
                                                    <h5>
                                                        {{slide.title}}
                                                    </h5>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-popup__line card-popup__line--price">
                            <div class="card-popup__full-price">
                                Итого: - 4260 ₽
                            </div>
                            <button class="card-popup__button-send">Продолжить оформление</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>