
{% set productGrid = [
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: '#',
		tags: 'Новинка',
		palette: [
			{
				color: 'green',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: 'rgba(255, 14, 17, 0.5)',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '2560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: '#',
		tags: 'Новинка',
		palette: [
			{
				color: 'green',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: 'rgba(255, 14, 17, 0.5)',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '2560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: '#',
		tags: 'Новинка',
		palette: [
			{
				color: 'green',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: 'rgba(255, 14, 17, 0.5)',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '2560'
			}
		]
	}
] %}


<section class="similar-product grid-line">
    <div class="container">
        <div class="similar-product__wrapper">
            <div class="similar-product__title">
                <h3>
                    <a href="#" class="similar-product__tab similar-product__tab--active">
                        Аналогичные товары
                    </a>
                    <a href="#" class="similar-product__tab">
                        Вы смотреmрели
                    </a>  
                </h3>
                <div class="similar-product__navigation">
                    <div class="similar-product__button similar-product__button--next"></div>
                    <div class="similar-product__button similar-product__button--prev"></div>
                </div>
            </div>
            <div class="similar-product__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for item in productGrid %}
                            <div class="swiper-slide">
                                {{ mixins.productGrid(item.name, item.link, item.tags, item.palette) }}  
                            </div>
                        {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>