{% set info = [
    {
        title: 'Горячая линия',
        tel: '8 800 624 27 27'
    },
    {
        title: 'Вопросы и предложения',
        email: 'info@lroptics.ru'
    },
    {
        title: 'Режим работы',
        text: 'Круглосуточно'
    }
]%}

{% set nav = [
        {
            title: 'Каталог',
            list: [
                {
                    link: '#',
                    text: 'Женские'
                }, 
                {
                    link: '#',
                    text: 'Мужские'
                },
                {
                    link: '#',
                    text: 'Детские'
                },
                {
                    link: '#',
                    text: 'Унисекс'
                },
                {
                    link: '#',
                    text: 'Аксессуары'
                },
                {
                    link: '#',
                    text: 'Солнцезащитные'
                },
                {
                    link: '#',
                    text: 'Линзы'
                }
            ]
        },
        {
            title: 'Информация',
            list: [
                {
                    link: '#',
                    text: 'О компании'
                    }, {
                    link: '#',
                    text: 'Услуги'
                    },{
                    link: '#',
                    text: 'Доставка и оплата'
                    },{
                    link: '#',
                    text: 'Вопрос-Ответ'
                    },{
                    link: '#',
                    text: 'Подбор очков'
                }
            ]
        },
        {
            title: 'Условия',
            list: [
                {
                    link: '#',
                    text: 'Возврат товара'
                },
                {
                    link: '#',
                    text: 'Гарантии'
                },
                {
                    link: '#',
                    text: 'Пользовательское соглашение'
                }
            ]
        },
        {
            title: 'Социальные профили',
            social: true,
            list: [
                {
                    link: '#',
                    icon: 'vk',
                    text: 'Вконтакте'
                },
                {
                    link: '#',
                    icon: 'instagram',
                    text: 'Instagram'
                },
                {
                    link: '#',
                    icon: 'facebook',
                    text: 'Facebook'
                }
            ]
        }

    ]
    
%}

{% set payment = [
    {
        img: 'visa'
    },  
    {
        img: 'mastercard'
    },  
    {
        img: 'yandex'
    },  
    {
        img: 'webmoney'
    },  
    {
        img: 'sber'
    },  
    {
        img: 'alfa'
    },  
    {
        img: 'qiwi'
    },  
    {
        img: 'robo'
    }    
] %}

{% set copyright = 'Copyright © 2019. LR Optics - Интернет-магазин оптики. Все права защищены. Нелегальное копирование материала преследуется по закону.' %}

<footer class="footer grid-line">
    <div class="container">
        <div class="footer__info-line">
            <ul class="footer__info">
                {% for list in info %}
                    <li>
                        <h5>
                            {{ list.title }}
                        </h5>
                        {% if list.tel %}
                            <a href="tel:{{ list.tel | replace(' ', '') }}">
                                {{ list.tel }}
                            </a>
                        {% elseif list.email %}
                            <a href="mailto:{{ list.email | replace(' ', '') }}">
                                {{ list.email }}
                            </a>
                        {% else %}
                            <p>
                                {{ list.text }}
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div class="footer__mailing">
                <h2>
                    Подписка на рассылку.
                    <span>
                        Будьте в курсе последних обновлений.
                    </span>
                </h2>
                <form class="footer__form " >
                    <input type="email" placeholder="e-mail" required>
                    <button class="footer__form-btn">

                    </button>
                </form>
            </div>
        </div>
        <div class="footer__nav">
            {% for manu in nav %}
                {{ mixins.footerNav(manu.title, manu.list, manu.social, manu.icon) }}
            {% endfor %}
        </div>
        <ul class="footer__payment">
            {% for item in payment %}
                <li>
                    <img src="img/pay/{{ item.img }}.png" alt="{{ item.img }}">
                </li>
            {% endfor %}
        </ul>
        <div class="footer__copyright">
            <div class="container container-medium">
                {{ copyright }}
            </div>
        </div>
    </div>
</footer>