{% macro icon(i) %}
    <svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro catalog(positions, title ,icon, link) %}
    <a href="{{ link }}" class="catalog__item">
        <div class="catalog__positions">
            {{ positions }}
        </div>
        <div class="catalog__title">
            {{ title }}
        </div>
        <div class="catalog__icon">
            <svg class="icon icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        </div>
    </a>
{% endmacro %}


{% macro productGrid(name, link, tags, palette) %}
    <a href="{{ link }}" class="product-grid__card">
        <div class="product-grid__tags">
            {{ tags }}
        </div>
        <div class="product-grid__color-wrapper">
            {% for color in palette %}
                    <div class="product-grid__color" 
                    data-color="{{ color.color }}"
                    ></div>
            {% endfor %}
        </div>
        
        <div class="product-grid__img-wrapper">
            {% for img in palette %}
                    <img src="img/{{ img.img }}" alt="{{ img.alt }}" class="product-grid__img">
            {% endfor %}
        </div>
        <h4 class="product-grid__name">
            {{ name }} - 
            <span class="product-grid__price-wrapper">
                {% for price in palette %}
                    <span class="product-grid__price">
                        {{ price.price }} ₽
                    </span>
                {% endfor %}
                </span>
        </h4>
    </a>
{% endmacro %}

{% macro reviewsStars(n, icon) %}

    {% if n == 5 %} 
        {% for i in [1, 2, 3, 4, 5] %}
            <svg class="icon icon--active icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
    {% endif %}

    {% if n == 4 %} 
        {% for i in [1, 2, 3, 4] %}
            <svg class="icon icon--active icon--active icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
        <svg class="icon icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
    {% endif %}

    {% if n == 3 %} 
        {% for i in [1, 2, 3] %}
            <svg class="icon icon--active icon--active icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
        {% for i in [1, 2] %}
            <svg class="icon icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
    {% endif %}

    {% if n == 2 %} 
        {% for i in [1, 2] %}
            <svg class="icon icon--active icon--active icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
        {% for i in [1, 2, 3] %}
            <svg class="icon icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
    {% endif %}

    {% if n == 1 %} 
        <svg class="icon icon--active icon--active icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% for i in [1, 2, 3, 4] %}
            <svg class="icon icon-{{icon}}"><use xlink:href="img/sprite.svg#icon-{{icon}}"></use></svg>
        {% endfor %}
    {% endif %}
    
{% endmacro %}


{% macro footerNav(title, list, social, icon) %}
    <div class="footer__nav-item">  
        <h4>
            {{ title }}
        </h4>
        {% if social %}
            <ul>
                {% for item in list  %}
                    <li>
                        <a href="{{ item.link }}">
                            <svg class="icon icon-{{item.icon}}"><use xlink:href="img/sprite.svg#icon-{{item.icon}}"></use></svg> {{ item.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul> 
        {% else %}
            <ul>
                {% for item in list  %}
                    <li>
                        <a href="{{ item.link }}">
                            {{ item.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul> 
        {% endif %}
    </div>
{% endmacro %}