{# Таблица товаров - productGrid
	set productGridClass - добавление кастомного css класа, если нужно
	name - имя товара
	link - ссылка на страницу товара
	tags - теги товара(выводить нужно через "," например Новости, Бестселлер)
	palette - отдельная цветовая палитра товара
		{
			color - для задания цвета нужно ввести цвет через #(HEX) или rbg или rgba или английским словом
			img - картинка для даного цвета товара
			alt- подпись к картинке
			price - цена товара
		}
#}

{% set productGridClass = '' %}

{% set productGrid = [
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: '#',
		tags: 'Новинка',
		palette: [
			{
				color: 'green',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: 'rgba(255, 14, 17, 0.5)',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '2560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: '#',
		tags: 'Новинка',
		palette: [
			{
				color: 'green',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: 'rgba(255, 14, 17, 0.5)',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '2560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	},
	{
		name: 'Mateas Gold',
		link: 'test.html',
		tags: 'Новинка',
		palette: [
			{
				color: '#fef0ba',
				img: 'glasses-1.jpg',
				alt: 'Очки черные',
				price: '4260'
			},
			{
				color: '#febaba',
				img: 'glasses-2.jpg',
				alt: 'Очки красные',
				price: '4560'
			},
			{
				color: '#c0bafe',
				img: 'glasses-3.jpg',
				alt: 'Очки красные',
				price: '1560'
			}
		]
	}
] %}

<section class="product-section grid-line">
    <div class="container">
        {% set titleClass = 'template' %}
		{% include "components/title/_title.html" %}
		
        {% include "components/product-grid/_filters.html" %}
        {% include "components/product-grid/_product-grid.html" %}
    </div>
</section>
