{% set sortFilter = [
    {
        filterName: 'По стоимости'
    },
    {
        filterName: 'По наименованию'
    },
    {
        filterName: 'В алфавитном порядке'
    },
    {
        filterName: 'По рейтингу'
    }
] %}

{% set filterGroup = [
    {
        name: 'Производитель',
        options: [
            {
                value: 'Производитель',
                text: 'Производитель'
            },
            {
                value: 'Nokia',
                text: 'Nokia'
            },
            {
                value: 'Tesla',
                text: 'Tesla'
            },
            {
                value: 'Windows',
                text: 'Windows'
            },
            {
                value: 'Mazda',
                text: 'Mazda'
            }
        ]
    },
    {
        name: 'Материал оправы',
        options: [
            {
                value: 'Материал оправы',
                text: 'Материал оправы'
            },
            {
                value: 'Дерево',
                text: 'Дерево'
            },
            {
                value: 'Пластик',
                text: 'Пластик'
            },
            {
                value: 'Золото',
                text: 'Золото'
            }
        ]
    },    
    {
        name: 'Тип линз',
        options: [
            {
                value: 'Тип линз',
                text: 'Тип линз'
            },
            {
                value: 'Для коррекции миопии',
                text: 'Для коррекции миопии'
            },
            {
                value: 'Для коррекции гиперметропии',
                text: 'Для коррекции гиперметропии'
            },
            {
                value: 'Для коррекции астигматизма',
                text: 'Для коррекции астигматизма'
            },
            {
                value: 'Обичные',
                text: 'Обычные'
            }
        ]
    },
    {
        name: 'Форма оправы',
        options: [
            {
                value: 'Форма оправы',
                text: 'Форма оправы'
            },
            {
                value: 'Круг',
                text: 'Круг'
            },
            {
                value: 'Квадрат',
                text: 'Квадрат'
            },
            {
                value: 'Ромб',
                text: 'Ромб'
            },
            {
                value: 'Капля',
                text: 'Капля'
            }
        ]
    }    
] %}

<div class="filter">
    <div class="filter__group">
        <div class="filter__dropdown">
            {% for filter in filterGroup %}
                <div class="filter__select">
                    <select name="{{ filter.name }}">
                        {% for option in filter.options %}
                            <option value="{{ option.value }}">
                                {{ option.text }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
        <div class="filter__all-params">
            <button>
                Все параметры
            </button>
        </div>
    </div>
    <ul class="filter__sort sort-filter">
        {% for filter in sortFilter %}
            <li>
                <button class="sort-filter__button">
                    {{ filter.filterName }}
                </button>
            </li>
        {% endfor %}
    </ul>
</div>