<div class="product-grid {% if productGridClass %}product-grid--{{ productGridClass }}{% endif %}">
    {% for item in productGrid %}
        {{ mixins.productGrid(item.name, item.link, item.tags, item.palette) }}
    {% endfor %}

    <div class="product-grid__load-more">
        {{ mixins.icon('refresh') }}
        <p>
            Показать ещё
        </p>
    </div>
</div>