{% set brandsList = [
    {
        title: 'A-G',
        brands: [
            {
                name: 'Arven',
                link: '#'
            },
            {
                name: 'Cios',
                link: '#'
            },
            {
                name: 'Fantasy Lenses',
                link: '#'
            },
            {
                name: 'German Optics',
                link: '#'
            }
        ]
    },
    {
        title: 'H-Q',
        brands: [
            {
                name: 'Horme',
                link: '#'
            },
            {
                name: 'Identity Lens Stratford',
                link: '#'
            },
            {
                name: 'Kievo',
                link: '#'
            },
            {
                name: 'Kortes',
                link: '#'
            },
            {
                name: 'Lem',
                link: '#'
            },
            {
                name: 'Nicara',
                link: '#'
            },
            {
                name: 'Optical Brosco',
                link: '#'
            },
            {
                name: 'Opti-Care',
                link: '#'
            }
        ]
    },
    {
        title: 'R-Z',
        brands: [
            {
                name: 'Ronda Jacobs',
                link: '#'
            },
            {
                name: 'Spencer',
                link: '#'
            },
            {
                name: 'Syco',
                link: '#'
            },
            {
                name: 'Wonderlense',
                link: '#'
            },
            {
                name: 'X-Optics',
                link: '#'
            }
        ]
    },
    {
        title: 'А-Я',
        brands: [
            {
                name: 'Амарок',
                link: '#'
            },
            {
                name: 'Виспер',
                link: '#'
            },
            {
                name: 'Зум',
                link: '#'
            },
            {
                name: 'Интерленс',
                link: '#'
            },
            {
                name: 'Моника',
                link: '#'
            },
            {
                name: 'Оптика Сибири',
                link: '#'
            },
            {
                name: 'РосОптика',
                link: '#'
            }
        ]
    }
]%}

<section class="brands-section grid-line">
    <div class="container">
        {% set titleClass = 'template' %}
        {% set title = 'Представленные бренды' %}
        {% include "components/title/_title.html" %}
        <div class="brands-section__grid">
            {% for item in brandsList %}
                <div class="brands-section__block">
                    <h3>
                        {{ item.title }}
                    </h3>
                    <ul class="brands-section__list">
                        {% for brand in item.brands %}
                            <li>
                                <a href="{{ brand.link }}">
                                    {{ brand.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

