.product-banner
    &__grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        border-bottom: 1px solid $gridLineColor
        +r(1499)
            grid-template-columns: repeat(3, 1fr)
        +r(1199)
            grid-template-columns: repeat(2, 1fr)
        +r(575)
            grid-template-columns: 1fr
    &__item
        border-top: 1px solid $gridLineColor
        min-height: 120px
        display: flex
        flex-direction: column
        justify-content: center
        padding: 30px
        position: relative
        overflow: hidden
        +r(575)
            padding: 15px
            min-height: 100px
        .icon
            position: absolute
            right: -20px  
            bottom: -18px
            font-size: 112px
            fill: $catalogItemColor
            transition: all .6s ease
            opacity: .2
            +r(575)
                font-size: 86px
        &:hover
            .icon
                transform: scale(1.2)
        h4
            font-size: 24px
            font-family: $helperFont
            font-weight: 300
            letter-spacing: -.04em
            color: $fontColor
            line-height: 1.2em
            margin-bottom: 5px
        p
            letter-spacing: -.02em
            color: $catalogItemColor