.product-card
    &__inner-wrapper
        display: grid
        grid-template-columns: repeat(2, 50%)
        padding: 0px 1px
        border-top: 1px solid $gridLineColor
        +r(1500)
            display: block
    &__slider
        display: flex
        flex-direction: column  
        justify-content: space-between
        overflow: hidden
        position: relative  
        min-height: 640px
        background-color: $mainBgColor
        +r(1500) 
            min-height: 450px
        +r(767) 
            min-height: 360px
        +r(575)
            min-height: 300px
        .swiper-container
            width: 100%
            .swiper-slide   
                img
                    max-width: 100%
                    height: auto
                    margin: 0 auto
                    display: block
                    padding: 15px 
                    +r(1500)
                        max-width: 70%
    &__top-line 
        display: flex
        align-items: center
        justify-content: space-between   
        padding: 30px
        +r(575)
            padding: 25px 15px
    &__add-to-favorite
        width: 24px
        height: 22px
        display: block
        background: url('/img/svgo/heart.svg') center no-repeat
        background-size: contain
        transition: all .3s ease
        flex-shrink: 0
        margin-right: 15px
        &:hover
            background: url('/img/svgo/heart-active.svg') center no-repeat
            background-size: contain
        &--active
            background: url('/img/svgo/heart-active.svg') center no-repeat
            background-size: contain
            &:hover
                background: url('/img/svgo/heart.svg') center no-repeat
                background-size: contain
    &__tags 
        text-align: right
        color: $accentColor
        font-size: 16px
    &__colors
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        display: grid
        grid-template-rows: repeat(3, 1fr)
        grid-gap: 6px
        z-index: 120
        +r(991)
            position: relative
            top: 0
            right: 0
            transform: translateY(0)
            display: flex   
            justify-content: center
            flex-wrap: wrap
            padding: 5px 15px
    &__color
        width: 14px
        height: 14px
        cursor: pointer
        +r(991)
            margin: 3px
        &--active
            border: 1px solid $fontColor
    &__slider-button
        position: absolute
        cursor: pointer
        width: 20px
        height: 20px
        bottom: 30px
        z-index: 100
        +r(991)
            width: 40px
            height: 40px
            background-color: $mainBgColor
            bottom: calc(50% - 20px)
        &::before
            content: ''
            width: 9px
            height: 9px
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg) 
            transition: all .3s ease
        &:hover
            &::before
                border-color: $accentColor
        &--prev
            right: 50px
            +r(991)
                left: 0
            &::before
                border-left: 2px solid $fontColor
                border-bottom: 2px solid $fontColor
        &--next
            right:  30px
            +r(991)
                right: 0
            &::before
                border-right: 2px solid $fontColor
                border-top: 2px solid $fontColor
    &__about
        padding: 30px 80px 30px 30px
        text-align: center
        font-size: 12px
        color: $catalogItemColor
        line-height: 1.2em
        letter-spacing: -.02em
        +r(991)
            padding: 5px 30px 30px
        +r(575)
            padding: 5px 15px 25px

.card-product
    margin-left: 1px
    background-color: $mainBgColor
    position: relative
    +r(1499)
        margin-left: 0
        background-color: transparent
    &__section
        background-color: $sectionBgColor
        padding: 30px 30px 35px
        +r(575)
            padding: 25px 15px 30px 
    &__top-line
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
        margin-bottom: 30px
        +r(575)
            margin-bottom: 20px
    &__vendor-code
        font-size: 14px
        color: $catalogItemColor
        line-height: 1.2em
        letter-spacing: -.02em
        flex-shrink: 0
    &__review
        display: flex
        flex-direction: column
        align-items: flex-end
        p
            font-size: 12px
            color: $catalogItemColor
            line-height: 1.2em
            letter-spacing: -.02em
        &-info
            display: flex
            align-items: center
            margin-bottom: 5px
            span
                font-size: 12px
                color: $catalogItemColor
                line-height: 1.2em
                letter-spacing: -.02em
                margin-right: 10px
    &__stars
        flex-shrink: 0
        .icon
            font-size: 16px
            fill: $catalogItemColor
            &--active
                fill: $accentColor
    &__about-text
        font-size: 24px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.333em
        letter-spacing: -.04em
        margin-bottom: 30px
        +r(575)
            font-size: 18px
            margin-bottom: 20px
    &__buy
        display: flex
        align-items: center
        background-color: $mainBgColor
        padding: 4px
        margin-bottom: 70px
        flex-wrap: wrap
        +r(575)
            margin-bottom: 30px
        a
            color: $accentColor
            transition: all .3s ease
            &:hover
                color: $fontColor
    &__price
        flex-shrink: 0
        font-size: 46px
        font-family: $helperFont
        color: $fontColor
        line-height: 1em
        letter-spacing: -.04em
        padding-left: 30px 
        padding-right: 60px
        +r(991)
            order: 1
        +r(575)
            font-size: 36px
            padding: 15px
    &__more-info
        flex-shrink: 0
        font-size: 14px
        font-family: $mainFont
        color: $catalogItemColor
        line-height: 1.429em
        +r(991)
            width: 100%
            order: 2
            padding: 10px 10px 0
            text-align: center
        +r(575)
            font-size: 12px
            br
                display: none
    &__add-to-cart
        flex-shrink: 0
        background-image: $mainColor
        display: flex
        align-items: center
        justify-content: center
        padding: 29px
        position: relative
        margin-left: auto
        margin-right: 0
        +r(991)
            order: 1
        +r(575)
            padding: 15px
        .icon
            font-size: 54px 
            transition: all .3s ease
            +r(575)
                font-size: 48px
        &:hover
            .icon
                transform: scale(1.1)
                fill: $mainBgColor
    &__social-links
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        &:hover
            p
                &::after
                    background-color: $accentColor
        a
            display: block
            flex-shrink: 0
            .icon
                font-size: 16px
                margin: 0 7px
                fill: $fontColor
                transition: all .3s ease
            &:hover
                .icon
                    fill: $accentColor
        p
            padding-right: 80px
            margin-right: 10px
            position: relative
            font-size: 16px
            color: $fontColor
            line-height: 1.2em
            letter-spacing: -.02em
            +r(575)
                font-size: 14px
                padding-right: 60px
            &::after
                content: ''
                width: 60px
                height: 2px
                position: absolute
                right: 0
                top: calc(50% - 1px)
                background-color: $fontColor
                translate: all .3s ease
                +r(575)
                    width: 45px
    &__tab
        border-bottom: 1px solid $gridLineColor
        &:last-of-type
            border-bottom: none
        &-title
            padding: 30px 75px 25px 30px
            font-size: 24px
            font-family: $helperFont
            color: $fontColor
            line-height: 1em
            letter-spacing: -.04em
            position: relative
            cursor: pointer
            +r(575)
                font-size: 18px
                padding: 20px 55px 15px 15px
            &::before
                content: '+'
                font-size: 40px
                font-family: $mainFont
                color: $fontColor
                line-height: 1em
                font-weight: 700
                position: absolute
                right: 30px
                top: 50%
                transform: translateY(-50%)
                transition: all .3s ease
                +r(575)
                    right: 15px
                    font-size: 30px
            &--active
                &::before
                    color: $accentColor
                    transform: translate(3px, -50%) rotate(45deg)
            span
                color: $accentColor
        &-content
            padding: 30px
            display: none
            border-top: 1px solid $gridLineColor
            &--active
                display: block

.custom-checbox
    margin-bottom: 40px
    &__label
        display: flex
        align-items: center
    &__text
        color: $catalogItemColor
        line-height: 1.2em
        letter-spacing: -.02em
        margin-left: 15px
    &__switch
        position: relative
        display: inline-block
        width: 54px
        height: 24px
        input
            opacity: 0
            width: 0
            height: 0
            &:checked + .custom-checbox__slider
                background-color: $accentColor
            &:focus + .custom-checbox__slider
                box-shadow: inset 0px 3px 10px 0px rgba(183, 208, 212, 0.4)
            &:checked + .custom-checbox__slider:before
                transform: translateX(29px)
                background-color: $mainBgColor
    &__slider
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $sectionBgColor
        transition: .4s
        border-radius: 34px
        box-shadow: inset 0px 5px 10px 0px rgba(183, 208, 212, 0.8)
        &:before
            position: absolute
            content: ''
            height: 18px
            width: 18px
            left: 3px
            bottom: 3px
            background-color: $catalogItemColor
            transition: .4s
            border-radius: 50%
            border-radius: 10px
.card-popup
    background-color: $sectionBgColor
    padding: 50px 30px 30px
    position: absolute
    top: 0  
    left: 0
    right: 0
    z-index: 100
    display: none
    +r(575)
        padding: 50px 15px 25px
    &--open
        display: block
    &__close-btn
        position: absolute
        right: 15px
        top: 15px
        width: 25px
        height: 25px
        background-color: transparent
        &::before, &::after
            content: ''
            width: 13px
            height: 3px
            position: absolute
            left: 50%
            top: 50%
            background-color: $catalogItemColor
            transition: all .3s ease
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%) rotate(135deg)
        &:hover
            &::before, &::after
                background-color: $accentColor

    &__title
        font-size: 32px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.25em
        letter-spacing: -.04em
        font-weight: 300
        margin-bottom: 30px
        +r(767)
            font-size: 24px
    &__line
        position: relative
        &--inputs
            display: grid
            grid-template-columns: repeat(4, 1fr)
            grid-gap: 10px
            margin-bottom: 50px
            +r(1919)
                grid-template-columns: repeat(2, 1fr)
                grid-gap: 30px
            +r(1499)
                grid-template-columns: repeat(4, 1fr)
                grid-gap: 30px
            +r(1199)
                grid-template-columns: repeat(2, 1fr)
                grid-gap: 30px
            +r(575)
                grid-template-columns: 1fr
                grid-gap: 20px
        &--price
            display: flex
            background-color: $mainBgColor
            align-items: center
            padding: 4px
            +r(575)
                flex-direction: column
                justify-content: center
                padding: 15px
    &__button
        position: absolute
        cursor: pointer
        width: 20px
        height: 20px
        top: calc(50% - 10px)
        z-index: 100
        &::before
            content: ''
            width: 9px
            height: 9px
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg) 
            transition: all .3s ease
        &:hover
            &::before
                border-color: $accentColor
        &--prev
            right: 20px
            &::before
                border-left: 2px solid $fontColor
                border-bottom: 2px solid $fontColor
        &--next
            right: 0
            &::before
                border-right: 2px solid $fontColor
                border-top: 2px solid $fontColor
        & + .card-popup__title
            padding-right: 60px
    &__input
        position: relative
        input
            padding: 8px 25px 8px 0
            font-size: 14px
            font-family: $mainFont
            line-height: 1.2em  
            letter-spacing: -.02em
            cursor: pointer
            transition: all ease .5s
            position: relative
            background-color: transparent
            width: 100%
            height: 100%
            border-bottom: 1px  solid $catalogItemColor
            &:focus
                border-bottom: 1px  solid $fontColor
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0
        label
            position: absolute
            left: 0
            top: 50%
            color: $catalogItemColor
            transform: translateY(-50%)
            transition: all .3s ease
            max-height: 34px
            overflow: hidden
            &.active
                transform: translateY(-180%)
        &-up, &-down
            position: absolute
            right: 5px
            width: 8px
            height: 8px
            z-index: 100
            background-color: transparent
            &::before
                content: ''
                width: 8px
                height: 8px
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%) rotate(45deg)
            &:hover
                &::before
                    border-color: $accentColor
        &-up    
            top: 20%
            &:before
                border-left: 2px solid $catalogItemColor
                border-top: 2px solid $catalogItemColor
        &-down
            top: 50%
            &:before
                border-bottom: 2px solid $catalogItemColor
                border-right: 2px solid $catalogItemColor
    &__gift-slider
        margin-bottom: 10px
        overflow: hidden
        width: 100%
        .swiper-container
            padding: 15px 8px
            margin-left: -8px
            margin-right: -8px
            width: 100%
            +r(767)
                margin: 0
                padding: 15px 0
    &__slide
        display: flex
        background-color: $mainBgColor
        transition: all .3s ease
        position: relative
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 25px 25px 20px
        min-height: 128px
        box-sizing: border-box
        img
            margin-bottom: 15px
            display: block
            max-width: 100%
            height: auto
        h5
            font-size: 14px
            font-weight: 400
            color: $catalogItemColor
            line-height: 1.2em
            letter-spacing: -.02em
            text-align: center
        &::before
            content: ''
            width: 0
            height: 3px 
            background-color: $accentColor
            position: absolute
            bottom: 0
            left: 0
            transition: all .5s ease
        &:hover
            box-shadow: 0px 0px 20px 0px rgba(17, 195, 221, .3) 
            &::before
                width: 100%
    &__button-send
        margin-left: auto
        margin-right: 0
        font-size: 24px
        font-family: $helperFont
        font-weight: 300
        color: $fontColor
        line-height: 1em
        letter-spacing: -.04em
        padding: 24px 55px
        background: $mainColor
        box-sizing: border-box
        transition: all .3s ease
        display: block
        +r(767)
            padding: 24px 30px
        +r(575)
            margin: 0 auto
            font-size: 18px
        &:hover, &:focus
            color: $mainBgColor
    &__full-price
        padding-left: 26px
        font-size: 32px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.25
        letter-spacing: -.04em
        font-weight: 300
        +r(767)
            font-size: 28px
            padding-left: 15px
        +r(575)
            font-size: 20px
            padding-left: 0 
            margin-bottom: 15px
