.similar-product
    &__wrapper
        display: grid
        grid-template-columns: 25% 75%
        +r(1499)
            grid-template-columns: 33.33% 66.66%
        +r(1199)
            grid-template-columns: repeat(2, 50%)
        +r(575)
            grid-template-columns: 100%
    &__slider
        .product-grid__card
            min-height: 341px
            +r(575)
                min-height: 300px
    &__title
        padding: 50px 30px 80px
        position: relative  
        +r(575)
            padding: 30px 15px 70px
    &__tab
        display: block
        font-size: 32px
        font-family: $helperFont
        font-weight: 300
        letter-spacing: -.04em
        color: $fontColor
        line-height: 1.25em
        translate:  all .3s ease
        +r(767)
            font-size: 28px
        &--active
            color: $accentColor
    &__button
        position: absolute
        cursor: pointer
        width: 20px
        height: 20px
        bottom: 30px
        z-index: 100
        &::before
            content: ''
            width: 9px
            height: 9px
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg) 
            transition: all .3s ease
        &:hover
            &::before
                border-color: $accentColor
        &--prev
            right: 50px
            +r(575)
                right: 35px
            &::before
                border-left: 2px solid $fontColor
                border-bottom: 2px solid $fontColor
        &--next
            right:  30px
            +r(575)
                right: 15px
            &::before
                border-right: 2px solid $fontColor
                border-top: 2px solid $fontColor
