
{% set faqList = [
    {
        question: 'Могу ли я вернуть товар, если он мне не подошёл по размеру?',
        answer: 'Пул лояльных изданий вполне вероятен. Можно предположить, что особенность рекламы интуитивно концентрирует медиабизнес. Целевая аудитория ускоряет план размещения.'
    },
    {
        question: 'Я выбрал оправу, но не знаю необходимый  размер линз.',
        answer: 'Ассортиментная политика предприятия, пренебрегая деталями, актаульна как никогда. Перераспределение бюджета, как следует из вышесказанного, достижимо в разумные сроки. Показ баннера спорадически тормозит комплексный портрет потребителя.'
    },
    {
        question: 'Вы принимаете оплату биткоинами?',
        answer: 'Да, принимаем.'
    }
] %}


<section class="faq-section grid-line">
    <div class="container container-xsmall">
        {% set titleClass = 'template' %}
        {% set title = 'Часто задаваемые вопросы' %}
		{% include "components/title/_title.html" %}
		
        <form class="faq-section__search">
            <input type="search" placeholder="Поиск по странице">
        </form>
        <div class="faq-section__content">
            {% for faq in faqList %}
                <div class="faq-section__item">
                    <div class="faq-section__question">
                        {{ faq.question }}
                    </div>
                    <div class="faq-section__answer">
                        {{ faq.answer }}
                    </div>   
                </div>
            {% endfor %}
        </div>
    </div>
</section>