<div class="bread-crumbs grid-line">
    <div class="container">
        <button class="bread-crumbs__back">
            Вернуться
        </button>
        <div class="bread-crumbs__wrapper">
            <a href="index.html">
                Главная
            </a>
            {% if pages %} 
                {% for page in pages %}
                    <a href="{{ page.href }}">
                        {{ page.name }}
                    </a>
                {% endfor %}
            {% endif %}
            <span>
                {{ title }}
            </span>
        </div>
    </div>
</div>