.brands
    padding: 90px 0
    +r(991)
        padding: 50px 0
    +r(575)
        padding: 40px 0
    &__grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        border-top: 1px solid $gridLineColor
        &::after
            content: ''
            width: calc(100% - 80px)
            height: 1px 
            background-color: $gridLineColor
            position: absolute
            bottom: 90px
            right: 40px
            +r(991)
                bottom: 50px
            +r(767)
                right: 25px
            +r(575)
                bottom: 40px
                right: 15px
        +r(1499)
            grid-template-columns: repeat(3, 1fr)
        +r(1199)
            grid-template-columns: repeat(2, 1fr)
        +r(575)
            grid-template-columns: repeat(1, 1fr)
    &__item
        display: flex
        justify-content: center
        align-items: center
        min-height: 160px
        position: relative        
        transition: all .3s
        font-size: 16px
        color: $catalogItemColor
        line-height: 1.2em
        border-bottom: 1px solid $gridLineColor
        +r(1199)
            min-height: 140px
        +r(991)
            min-height: 130px
        +r(767)
            min-height: 120px
        +r(575)
            min-height: 110px
        &::before
            content: ''
            width: 0
            height: 4px
            background-color: $accentColor
            position: absolute
            bottom: 0
            left: 0
            transition: all .7s
        &:hover
            box-shadow: 0px 0px 30px 0px rgba(17, 195, 221, 0.1)
            &::before
                width: 100%
        img
            display: block
            max-height: 100px
            filter: grayscale(100%)
            +r(767)
                min-height: none
                height: auto
                max-width: 100%

