.intro
    padding: 20px 0
    &-progress
        transform-origin: center
        transform: rotate(-90deg)
        transition: stroke-dashoffset 0.1s
        position: absolute
        z-index: 1000
        right: 30px
        top: 30px
        +r(575)
            right: 20px
        &__shadow
            stroke: rgba(255, 255, 255, .3)
        &__circle
            stroke: $mainBgColor
            filter: drop-shadow(0 0 20px rgba(0,0,0,1)) 
    &__slider
        .swiper-slide
            background-color: $bgColorHelper
            min-height: 720px
            background: center no-repeat
            background-size: cover
            display: flex
            flex-direction: column
            justify-content: space-between
            +r(1199)
                min-height: 620px
            +r(991)
                min-height: 520px
            +r(575)
                min-height: 400px
    &__info
        padding: 40px 90px 0 40px
        margin-bottom: 30px
        +r(575)
            padding: 30px 60px 0 20px
        h3
            color: rgba($mainBgColor, .3)
            margin-bottom: 10px
    &__time
        color: $mainBgColor
        font-family: $helperFont
        position: relative
        font-size: 36px
        font-weight: 300
        +r(991)
            font-size: 30px
        +r(575)
            font-size: 24px
        span
            position: relative
            + span
                margin-left: 20px
                &::before
                    content: '-'
                    width: 20px
                    height: 100%
                    position: absolute
                    left: -20px
                    top: 0
    &__title
        font-family: $helperFont
        font-weight: 300
        text-align: center
        color: rgba($mainBgColor, .3)
        padding: 0 40px       
        font-size: 58px
        line-height: 1.2em
        letter-spacing: -0.04em
        margin-bottom: 30px
        +r(1199)
            font-size: 48px
        +r(991)
            font-size: 42px
        +r(575)
            font-size: 32px
            padding: 0 20px
        span
            color: $mainBgColor
    &__icon
        padding: 0 40px 70px
        +r(575)
            padding: 0 60px 20px
        img
            display: block
            max-width: 100%
            height: auto
            margin: 0 auto
            width: 90px
            +r(767)
                width: 70px
            +r(575)
                width: 50px
    &__button
        width: 10px
        height: 15px
        margin: 0
        top: auto
        bottom: 30px
        position: absolute
        z-index: 1000
        cursor: pointer
        &::after
            content: ''
            width: 15px
            height: 15px
            position: absolute
            transform: rotate(-45deg)
        &-prev
            right: 55px
            left: auto
            &::after 
                border-left: 3px solid $accentColor
                border-top: 3px solid $accentColor
        &-next
            right: 30px  
            &::after 
                border-bottom: 3px solid $accentColor
                border-right: 3px solid $accentColor
        &.swiper-button-disabled
            cursor: auto
            &::after
                border-color: rgba(255,255,255,.1)

        
