.reviews
    padding: 90px 0 150px
    +r(991)
        padding: 50px 0 100px
    +r(575)
        padding: 40px 0 80px
    &__stars
        display: flex
        justify-content: center
        margin-bottom: 55px
        +r(991)
            margin-bottom: 35px
        .icon
            fill: $catalogItemColor
            font-size: 19px
            margin: 0 1px
            &--active
                fill: $accentColor
    &__text
        text-align: center
        padding: 0 20%
        font-size: 46px
        font-family: $helperFont
        font-weight: 300
        color: $fontColor
        line-height: 1.174em
        letter-spacing: -.04em
        margin-bottom: 70px
        +r(991)
            font-size: 38px
            margin-bottom: 50px
            padding: 0 15%
        +r(767)
            padding: 0 10%
            font-size: 34px
        +r(575)
            padding: 0 5%
            font-size: 28px
            margin-bottom: 25px
    &__name
        font-size: 24px
        font-family: $helperFont
        color: $catalogItemColor
        line-height: 1.667em
        letter-spacing: -.04em
        font-weight: 300
        text-align: center
        margin-bottom: 15px
        +r(575)
            font-size: 20px
            padding: 0 5%
    &__product
        color: $fontColor
        transition: all .3s
        &:hover
            color: $accentColor
    &__data 
        color: $catalogItemColor
        line-height: 1.2em
        text-align: center
    &__button
        position: absolute
        width: 40px
        height: 40px
        z-index: 100
        top: calc(50% - 20px)
        cursor: pointer
        &::before
            content: ''
            position: absolute
            width: 10px
            height: 10px
            top: calc(50% - 5px)
            transform: rotate(45deg)
            border-bottom: 2px solid $accentColor
        &.swiper-button-disabled
            &::before
                border-color: $fontColor
        &--prev
            left: 0
            &::before
                left: 3px
                border-left: 2px solid $accentColor
        &--next
            right: 0
            &::before
                transform: rotate(-45deg)
                right: 3px
                border-right: 2px solid $accentColor