.brands-section
    padding: 90px 0
    +r(991)
        padding: 40px 0
    +r(575)
        padding: 30px 0
    &__grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 80px
        +r(1199)
            grid-gap: 40px
        +r(991)
            grid-gap: 20px
        +r(767)
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 40px 80px
        +r(575)
            grid-gap: 30px 20px
    &__block
        h3
            font-size: 32px
            font-family: $helperFont
            color: $fontColor
            line-height: 1.25
            letter-spacing: -.04em
            font-weight: 300
            margin-bottom: 25px
            +r(767)
                font-size: 28px
                margin-bottom: 20px
            +r(575)
                font-size: 24px
                margin-bottom: 15px
        a
            font-size: 16px
            display: block
            color: $fontColor
            line-height: 1em
            letter-spacing: -.02em
            padding: 5px 0
            margin-bottom: 5px
            position: relative
            transition: all .3s ease
            +r(575)
                font-size: 14px
            &::before
                content: ''
                width: 0
                height: 2px
                background-color: $accentColor
                position: absolute
                bottom: 0
                left: 0
                transition: all .7s ease
            &:hover
                color: $accentColor
                &:before
                    width: 100%
