.bread-crumbs
    padding: 40px 35px 10px
    +r(575)
        padding: 30px 10px 10px
    &__padding-top
        padding-top: 0!important
    &__back
        display: block
        margin-bottom: 75px
        background-color: transparent
        font-size: 14px
        font-family: $mainFont
        color: $fontColor
        line-height: 1em
        padding-left: 25px
        position: relative
        transition: all .3s
        +r(991)
            margin-bottom: 40px
        +r(575)
            margin-bottom: 30px
        &::before
            content: ''
            width: 7px
            height: 7px
            position: absolute
            left: 2px
            top: calc(50% - 3.5px)
            transform: rotate(45deg)
            border-bottom: 2px solid $fontColor
            border-left: 2px solid $fontColor
            transition: all .3s
        &::after
            content: ''
            width: 10px
            height: 2px 
            position: absolute
            left: 18.5px
            top: calc(50% - 1.2px)
            background-color: $accentColor
            opacity: 0
            transition: all .3s
        &:hover
            color: $accentColor
            &::before
                border-color: $accentColor
            &::after
                opacity: 1
                transform: translateX(-15px)
    &__wrapper
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        a
            display: block
            margin-right: 7px
            position: relative
            color: $catalogItemColor
            &::before
                content: ''
                width: 0
                height: 1px
                position: absolute
                left: 0
                bottom: 0
                background-color: $accentColor
                transition: all .6s
            &::after
                content: '-'
                padding-left: 2px
            &:hover
                &::before
                    width: 100%
        span
            display: block
            color: $catalogItemColor
