.catalog
    padding: 90px 0
    +r(991)
        padding: 50px 0
    +r(575)
        padding: 40px 0
    &__grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        border-top: 1px solid $gridLineColor
        &::after
            content: ''
            width: calc(100% - 80px)
            height: 1px 
            background-color: $gridLineColor
            position: absolute
            bottom: 90px
            right: 40px
            +r(991)
                bottom: 50px
            +r(767)
                right: 25px
            +r(575)
                bottom: 40px
                right: 15px
        +r(1499)
            grid-template-columns: repeat(3, 1fr)
        +r(1199)
            grid-template-columns: repeat(2, 1fr)
        +r(575)
            grid-template-columns: 1fr
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 120px 0 30px
        position: relative
        min-height: 160px
        transition: all .3s
        overflow: hidden
        border-bottom: 1px solid $gridLineColor
        +r(767)
            min-height: 140px
        +r(575)
            min-height: 120px
        &::after
            content: ''
            width: 240px
            height: 240px
            position: absolute
            right: -45px
            top: -45px
            background: url('../img/catalog__hover.png') right center no-repeat
            background-size: contain
            opacity: 0
            transform: rotate(-120deg)
            transition: transform 2.5s
        &::before
            content: ''
            width: 0
            height: 4px
            position: absolute
            bottom: -1px
            background-color: $accentColor
            left: 0
            transition: all .7s
        &:hover
            box-shadow: 0px 0px 30px 0px rgba(17, 195, 221, 0.1)
            &::before
                width: 100%
            &::after
                opacity: 1
                transform: rotate(0)
            .icon
                fill: $accentColor
    &__positions
        font-size: 14px
        color: $catalogItemColor
        line-height: 1.2
        margin-bottom: 15px
        +r(767)
            margin-bottom: 5px
    &__title
        font-size: 32px
        font-family: $helperFont
        font-weight: 300
        letter-spacing: -.04em
        color: $fontColor
        line-height: 1.2em
        +r(767)
            font-size: 28px
    &__icon
        position: absolute
        right: 20px
        +r(767)
            right: 10px
        .icon
            font-size: 96px
            transition: fill .5s
            +r(767)
                font-size: 60px
