.error
    padding: 30px 0 50px
    +r(991)
        padding: 30px 0 40px 
    +r(575)
        padding: 30px 0
    &__content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 500px
        +r(575)
            min-height: 300px
        img
            display: block
            max-width: 100%
            height: auto
            margin-bottom: 50px
            +r(991)
                margin-bottom: 40px
        h4
            font-size: 46px
            font-family: $helperFont
            color: $fontColor
            line-height: 1em
            font-weight: 300
            letter-spacing: -.04em
            margin-bottom: 50px
            text-align: center
            +r(991)
                font-size: 34px
                margin-bottom: 40px
            +r(767)
                font-size: 28px
                margin-bottom: 30px
            +r(575)
                font-size: 24px
                margin-bottom: 20px
    &__back
        margin-bottom: 0

