.faq-section
    padding: 90px 0
    +r(991)
        padding: 40px 0
    +r(575)
        padding: 30px 0
    &__search
        margin-bottom: 55px
        +r(991)
            margin-bottom: 35px
        input
            width: 100%
            padding: 8px 0
            font-size: 14px
            font-family: $mainFont
            color: $catalogItemColor
            line-height: 1.2em  
            letter-spacing: -.02em
            cursor: pointer
            transition: all ease .5s
            border-bottom: 1px  solid $catalogItemColor
            position: relative
            &:placeholder
                font-family: $mainFont
            &:active, &:focus
                color: $fontColor
                border-color: $fontColor
    &__item
        display: grid
        grid-gap: 65px
        grid-template-columns: repeat(2, 1fr)
        margin-bottom: 65px
        +r(991)
            grid-gap: 40px
            margin-bottom: 30px
        +r(575)
            grid-template-columns: 1fr
            grid-gap: 15px
    &__question
        font-size: 32px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.25em
        font-weight: 300
        letter-spacing: -.04em
        +r(767)
            font-size: 28px
        +r(575)
            font-size: 24px
    &__answer
        padding-top: 5px
        font-size: 18px
        font-family: $mainFont
        color: $fontColor
        line-height: 1.444em
        letter-spacing: -.04em
        font-weight: 300
        +r(767)
            font-size: 16px