.filter
    &__group
        display: grid
        grid-template-columns: auto 140px
        flex-wrap: wrap
        background-color: $filterColor
        padding: 30px 30px 25px
        grid-gap: 30px
        +r(767)
            grid-template-columns: 1fr
        +r(575)
            padding: 25px 15px
            grid-gap: 20px
    &__dropdown
        display: grid
        grid-template-columns: repeat(auto-fill, 270px)
        grid-gap: 15px 30px
        box-sizing: border-box
        flex-shrink: 0
        +r(991)
            grid-template-columns: repeat(2, 1fr)
        +r(575)
            grid-template-columns: 1fr
    &__select
        position: relative
        box-sizing: border-box
        select
            display: none
        .select-selected
            padding: 8px 25px 8px 0
            font-size: 14px
            font-family: $mainFont
            color: $catalogItemColor
            line-height: 1.2em  
            letter-spacing: -.02em
            cursor: pointer
            transition: all ease .5s
            border-bottom: 1px  solid $catalogItemColor
            position: relative
            &::before
                content: ''
                width: 8px
                height: 8px
                position: absolute
                right: 4px
                top: calc(50% - 5px)
                border-bottom: 2px solid $catalogItemColor 
                border-left: 2px solid $catalogItemColor
                transform: rotate(-45deg)
                transition: all ease .5s
                opacity: 1
            &.select-arrow-active
                color: $fontColor
                border-bottom: 1px  solid $fontColor
                &::before
                    border-color: $fontColor
        .select-items
            display: block
            position: absolute
            top: 100%
            background-color: $mainBgColor
            width: 100%
            z-index: 150
            cursor: pointer
            font-size: 14px
            font-family: $mainFont
            color: $fontColor
            line-height: 1.2em  
            letter-spacing: -.02em
            box-shadow: 0 5px 10px rgba($fontColor, .1)
            li 
                padding: 8px 5px
                box-sizing: border-box
                transition: all .3s
                border-bottom: 1px solid $filterColor
                &.same-as-selected
                    background-color: $filterColor 
                    color: $fontColor
                    transition: all .3s
                    &:hover
                        background-color: $catalogItemColor
                        color: $mainBgColor
                &:hover
                    background-color: $catalogItemColor
                    color: $mainBgColor 
                &:first-child
                    display: none
                &:last-child
                    border-bottom: none
            &.select-hide
                display: none

    &__all-params
        display: flex
        align-items: center
        justify-content: flex-end
        +r(991)
            width: 100%
        button
            padding-right: 20px
            position: relative
            background-color: transparent
            color: $fontColor
            font-family: $mainFont
            line-height: 1.2em
            letter-spacing: -.02em
            &::before
                content: ''
                width: 2px
                height: 10px
                position: absolute
                right: 4px
                top: calc(50% - 5px)
                background-color: $fontColor
            &::after
                content: ''
                width: 10px
                height: 2px
                position: absolute
                right: 0
                top: calc(50% - 1px)
                background-color: $fontColor
.sort-filter
    padding: 18px 30px 3px
    display: flex
    flex-wrap: wrap
    +r(767)
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
        grid-gap: 15px
        padding: 18px 30px
    +r(575)
        grid-gap: 5px
        padding: 15px
    li
        margin-bottom: 15px
        display: block
        +r(767)
            margin-bottom: 0
        + li
            margin-left: 14px
            +r(767)
                margin-left: 0
            &::before   
                content: '-'
                padding-right: 12px
                font-size: 14px
                font-family: $mainFont
                font-weight: 400
                color: $catalogItemColor
                +r(767)
                    content: none
    &__button
        position: relative
        flex-shrink: 0
        font-size: 14px
        font-family: $mainFont
        font-weight: 400
        background: transparent
        color: $catalogItemColor
        line-height: 1em
        letter-spacing: -.02em
        padding: 5px
        transition: all ease .3s 
        +r(767)
            padding: 5px 25px 5px 5px
        &::before
            content: ''
            width: 8px
            height: 8px
            position: absolute
            right: 4px
            top: 50%
            border-top: 2px solid $fontColor
            border-right: 2px solid $fontColor
            transform: translateY(-2px) rotate(45deg)
            transition: all ease .5s
            opacity: 0
        &--active
            color: $fontColor
            font-weight: 600
            padding: 5px 25px 5px 5px
        &--up
            &::before
                opacity: 1
                transform: translateY(-2px) rotate(-45deg)
        &--down
            &::before
                opacity: 1
                transform: translateY(-6px) rotate(-225deg)
