.footer
    &__nav
        padding: 70px 0 10px
        display: grid
        grid-template-columns: repeat(4, minmax(270px, 1fr))
        grid-gap: 20px
        +r(1199)
            grid-template-columns: repeat(2, 1fr)
        +r(575)
            grid-template-columns: 1fr
            padding: 40px 0 10px
        &-item
            padding: 0 55px
            +r(767) 
                padding: 0 20px
            h4
                font-size: 32px
                font-family: $helperFont
                font-weight: 300
                letter-spacing: -.04em
                color: $fontColor
                line-height: 1.25em
                margin-bottom: 30px
                +r(575)
                    margin-bottom: 15px
            a
                display: flex
                align-items: center
                position: relative
                font-weight: 400
                font-size: 16px
                color: $fontColor
                line-height: 1.813em
                transition: all .3s
                &::before
                    content: ''
                    width: 0
                    height: 2px
                    position: absolute
                    left: 0
                    bottom: 0
                    background-color: $accentColor
                    transition: all 1s
                .icon
                    fill: $fontColor
                    display: inline-block
                    margin-right: 10px
                    transition: all .3s
                &:hover
                    color: $accentColor
                    &::before
                        width: 100%
                    .icon
                        fill: $accentColor
    &__payment
        display: flex
        justify-content: center
        align-items: center
        padding: 10px 0 15px
        flex-wrap: wrap
        +r(575)
            padding: 20px 0 15px
        li, img
            display: block
        li
            margin: 0 20px 10px
    &__copyright
        background-color: $fontColor
        color: $catalogItemColor
        padding: 20px 0
    &__info-line
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
        grid-gap: 20px
        +r(1549)
            grid-template-columns: 1fr
    &__info
        background-image: $mainColor
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(178px, 1fr))
        grid-gap: 30px
        padding: 36px 9%
        +r(575)
            grid-template-columns: 1fr
            grid-gap: 15px
            padding: 25px 7%
        h5
            letter-spacing: -.02em
            font-weight: 400
            font-size: 14px
            color: $fontColor
        a, p
            display: block
            font-size: 32px
            font-family: $helperFont
            color: $fontColor
            line-height: 1.6em
            letter-spacing: -.04em
        a
            position: relative
            transition: all .3s
            &::before
                content: ''
                width: 0
                height: 2px
                position: absolute
                bottom: 0
                left: 0
                background-color: $mainBgColor
                transition: all 1s
            &:hover
                color: $mainBgColor
                &::before
                    width: 100%
    &__mailing
        background: url('../img/footer-email.png') no-repeat $fontColor
        background-position: 25% 0
        background-size: contain
        position: relative  
        color: $mainBgColor
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
        grid-gap: 40px
        padding: 40px 58px 35px
        align-items: center
        +r(575)
            grid-template-columns: 1fr
            background-size: cover
            padding: 25px 7%
        h2
            font-size: 32px
            font-family: $helperFont
            font-weight: 300
            letter-spacing: -.04em
            line-height: 1.2em
            span
                display: block
                font-size: 14px
                font-weight: 400
                font-family: $mainFont
                line-height: 1.2em
                letter-spacing: -.02em
    &__form
        position: relative
        &-btn
            width: 20px
            height: 20px
            background-color: transparent
            position: absolute
            right: 0
            top: calc( 50% - 10px)
            &::before
                content: ''
                width: 12px
                height: 12px
                position: absolute
                right: 0
                top: 50%
                transform: translate(-3px, -50%) rotate(-45deg)
                border-bottom: 2px solid
                border-right: 2px solid
                border-color: $mainBgColor
        input
            font-size: 16px
            font-family: $mainFont
            color: $mainBgColor
            line-height: 1.2
            background-color: transparent
            border-bottom: 2px solid $mainBgColor
            line-height: 1em
            padding: 10px 0
            width: 100%
            &::placeholder
                color: $mainBgColor
