.form-section
    padding: 100px 0 150px
    +r(991)
        padding: 50px 0
    +r(575)
        padding: 40px 0
    &__title
        font-size: 46px
        font-family: $helperFont
        color: #1f1f1f
        font-weight: 300
        line-height: 1.174em
        letter-spacing: -.04em
        text-align: center
        margin-bottom: 70px
        padding: 0 20px
        +r(991) 
            margin-bottom: 40px
            padding: 0
            font-size: 36px
        +r(767)
            margin-bottom: 30px
            font-size: 26px
.form
    display: flex
    flex-wrap: wrap
    +r(767)
        flex-direction: column
    &__label
        margin-bottom: 25px
        +r(767)
            margin-bottom: 20px
        +r(575)
            margin-bottom: 15px 
        &--input
            width: calc(33.33% - 20px)
            +r(767)
                width: 100%
            + .form__label--input
                margin-left: 30px
                +r(767)
                    margin-left: 0
        &--textarea
            width: 100%
            + .form__label--input
                margin-left: 0
    &__input
        width: 100%
        font-size: 14px
        font-family: $mainFont
        color: $fontColor
        line-height: 1em
        letter-spacing: -.02em
        padding: 10px 0
        border-bottom: 1px solid $catalogItemColor 
        &:focus
            border-color: $fontColor
        &:valid
            color: $fontColor
            border-color: $accentColor
        &:placeholder
            color: $fontColor
        
    &__textarea
        width: 100%
        font-size: 14px
        font-family: $mainFont
        color: $fontColor
        line-height: 1.5em
        letter-spacing: -.02em
        padding: 10px 0
        border: none
        border-bottom: 1px solid $catalogItemColor
        min-height: 115px
        resize: none
        +r(575)
            min-height: 80px
        &:focus
            border-color: $fontColor
        &:placeholder
            color: $fontColor
    &__info
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        +r(575)
            flex-direction: column
        p
            font-size: 12px
            color: $catalogItemColor
            line-height: 1.2em
            +r(575) 
                margin-bottom: 20px
                text-align: center
                padding: 0 15px
            a
                color: $fontColor
                text-decoration: underline
                &:hover
                    text-decoration: none
                    color: $accentColor
        button 
            flex-shrink: 0
            display: block
            position: relative
            color: $fontColor
            font-size: 16px
            background-color: transparent
            margin-left: 22px
            &::before
                content: ''
                width: 60px
                height: 2px
                background-color: $fontColor
                display: inline-block
                position: relative
                bottom: 4px            
                right: 20px
                transition: all .3s
            &:hover
                &::before
                    transform: translateX(5px)
                    background-color: $accentColor
