.header
    color: $fontColor
    z-index: 1000
    position: fixed
    width: 100%
    left: 0
    top: 0
    right: 0
    &__inner-wrapper
        display: flex
        background: $mainColor
        position: relative
        z-index: 1100
        +r(991)
            justify-content: space-between
            align-items: center
            &:before
                content: ''
                width: 100%
                height: 100%
                position: absolute
                background: $mainColor
                z-index: 1000
    &__logo
        padding: 50px 40px 50px 45px
        max-width: 201px
        display: flex
        align-items: center
        justify-content: center
        flex-shrink: 0
        border-right: 1px solid $fontColor
        +r(991)
            padding: 20px 35px
            border-right: none
            z-index: 1100
        +r(575)
            padding: 10px 15px
        img
            display: block
            width: 100%
            height: auto
    &__nav
        width: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        +r(992)
            display: block
            position: absolute
            left: 0
            right: 0
            top: 100%
            height: calc( 100vh - 81px)
            overflow: auto
            z-index: 900
            background: rgba(0,0,0, .3)
            box-shadow: 0 5px 30px 0 rgba(0,0,0,.1)
            border-top: 1px solid $fontColor
            transform: translateY(-150%)
            transition: all .6s ease
            &--active
                transform: translateY(0)
        +r(575)
            height: calc( 100vh - 61px)

    &__top-line
        display: flex
        align-items: center
        justify-content: space-between
        padding: 17px 40px
        border-bottom: 1px solid $fontColor
        +r(991)
            background-color: $mainBgColor
        +r(575)
            flex-direction: column
            padding: 15px
    &__phone
        font-family: $mainFont
        line-height: 1.2em
        color: $fontColor
        position: relative
        padding: 3px 0
        +r(575)
            margin-bottom: 5px
        &::before
            content: ''
            width: 0
            height: 2px
            background-color: $mainBgColor
            position: absolute
            bottom: 0
            left: 0 
            transition: all .3s ease
        &:hover
            color: $mainBgColor
            &::before
                width: 100%
    &__search
        &-label
            position: relative
            cursor: pointer
            display: block
            +r(575)
                display: flex
                flex-direction: column-reverse
                align-items: center
            span
                display: flex
                align-items: center
            .icon
                width: 18px
                height: 18px
                margin-left: 20px
                transition: all .3s ease
            &:hover
                .icon
                    fill: $mainBgColor
        &-field
            width: 0
            transition: all .3s
            position: absolute
            right: 30px
            top: 50%
            transform: translateY(-50%)
            display: block  
            font-family: $mainFont
            font-weight: 400
            font-size: 16px
            padding: 5px 0
            +r(575)
                left: 50%
                transform: translate(-50%, -50%)
            &--active
                width: 270px
                padding: 5px
    &__bottom-line
        display: flex
        justify-content: space-between
        align-items: center
        +r(991)
            flex-direction: column
            background-color: $mainBgColor
    &__tools
        display: flex
        flex-shrink: 0
        +r(991)
            width: 100%
            justify-content: center
            border-bottom: 1px solid $fontColor
        li
            border-right: 1px solid $fontColor
            border-bottom: none
            box-sizing: border-box
            &:first-child
                border-left: 1px solid $fontColor
            &:last-child
                border: none
                +r(991)
                    border-right: 1px solid $fontColor
                    
        a
            display: flex
            width: 82px
            height: 82px
            align-items: center
            justify-content: center
            color: $fontColor
            &:hover
                background-color: $mainBgColor
    &__menu
        display: flex
        font-size: 16px
        font-family: $mainFont
        line-height: 1em
        padding: 10px 0 10px 40px
        +r(991)
            flex-direction: column
            width: 100%
            padding: 10px 40px
        li
            margin-right: 30px
            +r(991)
                margin-right: 0
                text-align: center
            &:last-of-type
                margin-right: 0
        a
            display: block
            color: $fontColor
            position: relative
            transition: all .3s ease
            padding: 3px 0
            +r(991)
                text-align: center
                padding: 5px 0
                display: inline-block
            &::before
                content: ''
                width: 0
                height: 2px
                background-color: $mainBgColor
                position: absolute
                bottom: 0
                left: 0 
                transition: all .3s ease
            &:hover
                color: $mainBgColor
                +r(991)
                    color: $accentColor
                &::before
                    width: 100%
        &-wrapper
            display: flex
            align-items: center
            +r(991)
                flex-direction: column
                width: 100%
                border-bottom: 1px solid $fontColor
                height: calc( 100% - 82px )
                flex-shrink: 0

        &-more
            position: relative
            +r(991)
                display: none
            span
                width: 20px
                height: 20px
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                padding: 5px
                box-sizing: content-box
            &:hover
                ul
                    display: block
        &-hidden
            position: absolute
            display: none
            top: 100%
            z-index: 100
            background-color: $mainBgColor
            box-shadow: 0 5px 10px rgba($fontColor, .1)
            a
                padding: 8px 5px
                box-sizing: border-box
                transition: all .3s
                border-bottom: 1px solid $filterColor 
                display: block
                white-space: nowrap
                color: $fontColor
                &:hover
                    background-color: $accentColor
                    color: $mainBgColor 
                &:last-child
                    border-bottom: none
    &__mobile-btn
        display: none
        +r(991)
            display: block
            margin: 20px 35px
            width: 40px
            height: 40px    
            flex-shrink: 0
            z-index: 1100
            position: relative
            background-color: rgba($mainBgColor, .8)
            span
                width: 30px
                height: 3px
                position: absolute
                background-color: $accentColor
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                transition: all .3s ease
                &::before, 
                &::after
                    content: ''
                    width: 30px
                    height: 3px
                    position: absolute
                    left: 0
                    background-color: $accentColor
                    transition: all .3s ease
                &::before
                    top: -8px
                &::after
                    top: 8px
        &--active
            +r(991)
                span
                    background-color: transparent
                    &::before, &:after
                        top: 0
                    &::before
                        transform: rotate(45deg)
                    &::after
                        transform: rotate(-45deg)


        +r(575)
            margin: 10px 15px
