.info 
    padding: 90px 0
    +r(991)
        padding: 50px 0
    +r(575)
        padding: 40px 0
    .container
        position: relative
    &__blockquote
        text-align: center
        font-size: 32px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.25em
        margin-bottom: 50px
        letter-spacing: -.02em
        +r(1199)
            br
                display: none
        +r(991)
            margin-bottom: 40px
            font-size: 28px
        +r(575)
            margin-bottom: 30px
            font-size: 24px
    &__more-link
        display: block
        text-align: right
        position: relative
        color: $fontColor
        font-size: 16px
        &::before
            content: ''
            width: 60px
            height: 2px
            background-color: $fontColor
            display: inline-block
            position: relative
            bottom: 4px            
            right: 20px
            transition: all .3s
        &:hover
            &::before
                transform: translateX(5px)
                background-color: $accentColor
    &__title
        font-size: 46px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.174em
        letter-spacing: -.04em
        font-weight: 300
        text-align: center
        +r(991) 
            font-size: 36px
        +r(767)
            font-size: 30px
        +r(575)
            font-size: 24px
        + div, + p, + ul
            margin-top: 70px
            +r(991)
                margin-top: 40px
            +r(767)
                margin-top: 30px
    &__multiple-columns
        column-gap: 50px
        column-fill: auto
        +r(767)
            text-align: center
        &--1
            padding: 0 200px
            +r(1199)
                padding: 0 15px
        &--2
            column-count: 2
            padding: 0 276px
            +r(1199)
                padding: 0 15px
            +r(767)
                column-count: 1
        &--3
            column-count: 3
            padding: 0 126px
            +r(1199)
                padding: 0 15px
            +r(991)
                column-count: 2
            +r(767)
                column-count: 1
        &--4
            column-count: 4
            padding: 0 15px
            +r(1199)
                column-count: 3
            +r(991)
                column-count: 2
            +r(767)
                column-count: 1
        p
            margin-bottom: 30px
            font-size: 18px
            color: $fontColor
            line-height: 1.444em
            letter-spacing: -.04em
            &:last-of-type
                margin-bottom: 0
            +r(767)
                font-size: 16px
                margin-bottom: 25px
            +r(575)
                font-size: 14px
                margin-bottom: 20px
        h4, h5
            column-span: all
            text-align: center
        h4
            margin-top: 70px
            font-family: $decorationFont
            font-size: 52px
            color: $fontColor
            line-height: 1.2em
            letter-spacing: -.04em
            font-weight: 400
            +r(991)
                margin-top: 40px
            +r(767)
                margin-top: 30px
        h5
            line-height: 1.2em
            letter-spacing: -.04em
            font-weight: 400
            color: $fontColor
        + div
            margin-top: 70px 
            +r(991) 
                margin-top: 40px
            +r(575)
                margin-top: 30px
    &__decoration-title
        position: absolute
        font-size: 82px
        font-family: $helperFont
        color: $gridLineColor
        line-height: 1.2
        left: 70px 
        top: 50%
        font-weight: 200
        letter-spacing: -.02em
        transform: translate(-50%, 50%) rotate(-90deg)
        +r(1199)
            display: none
    &__contacts
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(178px, 1fr))
        grid-gap: 30px
        padding: 0 23%
        margin-bottom: 80px
        +r(1199)
            padding: 0 15%
        +r(991)
            margin-bottom: 40px
            padding: 0 9%
        +r(575)
            grid-template-columns: 1fr
            grid-gap: 15px
            padding: 0 25px
            margin-bottom: 30px
        h5
            letter-spacing: -.02em
            font-weight: 400
            font-size: 14px
            color: $fontColor
        a, p
            display: block
            font-size: 32px
            font-family: $helperFont
            color: $fontColor
            line-height: 1.6em
            letter-spacing: -.04em
        a
            position: relative
            transition: all .3s
            &::before
                content: ''
                width: 0
                height: 2px
                position: absolute
                bottom: 0
                left: 0
                background-color: $accentColor
                transition: all 1s
            &:hover
                color: $accentColor
                &::before
                    width: 100%
    &__payment
        &-list
            display: flex
            justify-content: center
            align-items: center
            padding: 10px 0 15px
            flex-wrap: wrap
            +r(575)
                padding: 20px 0 15px
            li, img
                display: block
            li
                margin: 0 20px 10px
        &-text
            font-size: 18px
            font-weight: 300
            letter-spacing: -.04em
            color: $catalogItemColor
            line-height: 1.444em
            text-align: center
            +r(991)
                font-size: 16px
            +r(575)
                font-size: 14px