.product-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    border-top: 1px solid $gridLineColor
    &::after
        content: ''
        width: calc(100% - 80px)
        height: 1px 
        background-color: $gridLineColor
        position: absolute
        bottom: 90px
        right: 40px
        +r(991)
            bottom: 50px
        +r(767)
            right: 25px
        +r(575)
            bottom: 40px
            right: 15px
    +r(1499)
        grid-template-columns: repeat(3, 1fr)
    +r(1199)
        grid-template-columns: repeat(2, 1fr)
    +r(575)
        grid-template-columns: 1fr
    &__card
        display: flex
        flex-direction: column  
        justify-content: space-between
        position: relative
        min-height: 320px
        transition: all .3s
        border-bottom: 1px solid $gridLineColor
        +r(575)
            min-height: 300px
        &::before
            content: ''
            width: 0
            height: 4px
            background-color: $accentColor
            position: absolute
            bottom: 0
            left: 0
            transition: all .7s
        &:hover
            box-shadow: 0px 0px 30px 0px rgba(17, 195, 221, 0.1)
            &::before
                width: 100%
            .product-grid__color
                opacity: 1
    &__tags
        padding: 20px 40px 40px 100px
        text-align: right
        color: $accentColor
        line-height: 1.2em  
    &__color
        width: 12px
        height: 12px
        z-index: 100      
        box-sizing: border-box
        opacity: 0
        transition: opacity .3s
        &--active
            border: 2px solid $fontColor
        &-wrapper
            position: absolute
            top: 20px
            left: 20px
            grid-auto-flow: column
            display: grid
            z-index: 100
            grid-template-rows: repeat(3, 1fr)
            grid-gap: 4px
    &__img
        display: none
        max-width: 100%
        height: auto   
        +r(1199)    
            max-width: 80%
        &--active
            display: block
        &-wrapper
            display: flex
            align-items: center
            justify-content: center
    &__name
        text-align: center
        padding: 0 50px 50px
        font-size: 24px
        font-family: $helperFont
        color: $fontColor
        line-height: 1.667
        font-weight: 300
        letter-spacing: -.04em
    &__price
        display: none     
        color: $accentColor    
        &--active
            display: inline-block
    &__load-more
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 50px
        position: relative 
        cursor: pointer
        min-height: 320px
        border-bottom: 1px solid $gridLineColor
        +r(575)
            padding: 30px
            min-height: 180px
        .icon
            font-size: 44px 
            fill: $catalogItemColor
        p
            position: absolute
            bottom: 50px
            font-size: 16px
            color: $catalogItemColor
            line-height: 1.2em
            letter-spacing: -.02em
            +r(575)
                bottom: 30px
        &:hover
            .icon
                transform: rotate(1000deg)
                transition: transform 10s
                transition-timing-function: liner