.services-grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(360px ,1fr))
    grid-gap: 20px
    +r(575)
        grid-template-columns: 1fr
    &__item
        min-height: 560px
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        display: block
        position: relative
        +r(767)
            min-height: 460px
        +r(575)
            min-height: 360px
        &:hover
            .services-grid__text
                background-color: $accentColor
    &__text
        display: block
        position: absolute
        bottom: 10px 
        right: 10px
        max-width: 340px   
        background-color: $mainBgColor
        padding: 30px 55px 70px 30px
        font-size: 24px
        font-weight: 300
        font-family: $helperFont
        color: $fontColor
        line-height: 1.25em
        letter-spacing: -.04em
        transition: all .3s
        +r(575)
            background-color: rgba($mainBgColor, .8)
            width: calc(100% - 20px)
            max-width: none
            left: 10px
        &::before
            content: ''
            width: 140px
            height: 2px
            background-color: $fontColor
            position: absolute  
            bottom: 35px
        &::after
            content: ''
            width: 9px
            height: 9px
            position: absolute
            border-bottom: 2px solid $fontColor
            border-right: 2px solid $fontColor
            bottom: 35px
            right: 30px
            transform: rotate(-45deg)