.stocklist
    padding: 90px 0 150px
    text-align: center
    +r(991)
        padding: 40px 0
    +r(575)
        padding: 30px 0
    &__list
        li
            margin-bottom: 60px
            +r(991)
                margin-bottom: 40px
            +r(575)
                margin-bottom: 30px
            &:last-of-type
                margin-bottom: 0
        h5
            margin-bottom: 25px
            font-size: 16px
            font-weight: 400
            letter-spacing: -.02em
            color: $catalogItemColor
            line-height: 1.2em
            +r(575)
                font-size: 14px
                margin-bottom: 15px
            span
                position: relative
                display: inline-block
                + span
                    margin-left: 3px
                    &::before
                        content: '-'
                        padding-right: 5px
        h4
            font-size: 46px
            font-family: $helperFont
            font-weight: 300
            line-height: 1.174em
            letter-spacing: -.04
            +r(991)
                font-size: 36px
            +r(575)
                font-size: 24px
            a
                color: $catalogItemColor
                transition: all .3s ease
                &:hover
                    text-decoration: underline
                    color: $fontColor
