.stockpage
    padding: 70px 0 150px
    +r(991)
        padding: 40px 0
    +r(575)
        padding: 30px 0
    &__title
        font-size: 46px
        font-family: $helperFont
        font-weight: 300
        letter-spacing: -.04em
        color: $fontColor
        line-height: 1.174em
        text-align: center
        margin-bottom: 60px
        +r(991)
            margin-bottom: 40px
            font-size: 36px
        +r(767)
            font-size: 30px
        +r(575)
            margin-bottom: 30px
            font-size: 24px
    &__time
        text-align: center
        margin-bottom: 45px
        +r(991)
            margin-bottom: 35px
        +r(575)
            margin-bottom: 25px
        p
            font-size: 14px
            color: $catalogItemColor
            line-height: 1.2em
            letter-spacing: -.02em
            margin-bottom: 5px
            &:last-of-type
                margin-bottom: 0
        span
            font-size: 32px
            font-family: $helperFont
            font-weight: 300
            color: $fontColor
            line-height: 1.2em
            letter-spacing: -.04em
            +r(575)
                font-size: 24px
            + span
                margin-left: 5px
                &::before
                    content: '-'
                    padding-right: 3px
    &__text
        font-size: 18px
        font-weight: 300
        color: $catalogItemColor
        line-height: 1.444em
        letter-spacing: -.04em
        text-align: center
        +r(767)
            br
                display: none
        +r(575)
            font-size: 16px
