.title
  font-size: 58px
  font-family: $helperFont
  font-weight: 300
  letter-spacing: -.04em
  color: $titleColor
  line-height: 1.2
  text-align: center
  margin-bottom: 90px
  +r(991)
    margin-bottom: 40px
    font-size: 48px
  +r(767)
    margin-bottom: 30px
    font-size: 38px
  +r(575)
    font-size: 30px
  &--tabs
    a
      color: $fontColor
      &:hover
        opacity: .8
  &--template
    color: $accentColor
  & a.title--active
    color: $accentColor