{% set formTitle = 'Возник вопрос? Наши специалисты будут рады помочь и постараются ответить на все ваши вопросы.' %}

{% set form = [
    {
        input: 'input',
        type: 'text',
        placeholder: 'Ваше имя',
        required: true
    },
    {
        input: 'input',
        type: 'text',
        placeholder: 'Контактный телефон',
        required: true
    },
    {
        input: 'input',
        type: 'email',
        placeholder: 'Контактный e-mail',
        required: true
    },
    {
        textarea: 'textarea',
        placeholder: 'Детали обращения'
    }
] %}

<section class="form-section grid-line">
    <div class="container container-xsmall">
        {% if formTitle %}
            <h2 class="form-section__title">
                {{ formTitle }}
            </h2>
        {% endif %}
        <form class="form">
            {% for label in form %}
                {% if label.input %}
                    <label class="form__label form__label--{{ label.input }}">
                        <input type="{{ label.type }}" placeholder="{{ label.placeholder }}" class="form__{{ label.input }}" name="{{ label.placeholder }}"
                        {% if label.required %}required{% endif %}>
                    </label>
                {% elif label.textarea %}
                    <label class="form__label form__label--{{ label.textarea }}">
                        <textarea name="{{ label.placeholder }}" class="form__{{ label.textarea }}" placeholder="{{ label.placeholder }}" {% if label.required %}required{% endif %}></textarea>
                    </label>
                {% endif %}
            {% endfor %}
            <div class="form__info">
                <p>
                    С <a href="#">условиями обработки персональных данных</a>, изложенными на сайте — ознакомлен и согласен.
                </p>
                <button>
                    Продолжить
                </button>
            </div>
          
        </form>
    </div>
</section>