{% set services = [
    {
        link: '#',
        bgImg: 'services-bg-1.jpg',
        text: 'Ремонт и оправ и линз индивидуально под клиента.'
    },
    {
        link: '#',
        bgImg: 'services-bg-2.jpg',
        text: 'Местная и выездная диагностика зрения сверхточным аппаратом.'
    }
] %}


<div class="services-section grid-line">
    <div class="container">
        {% include 'components/services-grid/_services-grid.html' %}
    </div>
</div>