{% set navList = [
    {
        link: '#',
        title: 'Женские'
    },
    {
        link: '#',
        title: 'Мужские'
    },
    {
        link: '#',
        title: 'Детские'
    },
    {
        link: '#',
        title: 'Унисекс'
    },
    {
        link: '#',
        title: 'Аксессуары'
    },
    {
        link: '#',
        title: 'Солнцезащитные'
    },
    {
        link: '#',
        title: 'Линзы'
    },
    {
        link: '#',
        title: 'Солнцезащитные 2'
    },
    {
        link: '#',
        title: 'Линзы 2 '
    },
    {
        link: '#',
        title: 'Солнцезащитные 3'
    },
    {
        link: '#',
        title: 'Линзы 3'
    }
] %}



<header class="header">
    <div class="container">
        <div class="header__inner-wrapper">
            <a href="index.html" class="header__logo">
                <img src="img/logo.png" alt="logo">
            </a>
            <nav class="header__nav">
                <div class="header__top-line">
                    <a href="tel:88006242727"  class="header__phone">
                        Т.: 8 800 624 27 27
                    </a>
                    <form>
                        <label class="header__search-label">
                            <input type="search" class="header__search-field" placeholder="">
                            <span>
                                Поиск товара
                                {{mixins.icon('search')}}
                            </span>
                        </label>
                    </form>
                </div>
                <div class="header__bottom-line">
                    <div class="header__menu-wrapper">
                        <ul class="header__menu">
                            {% for item in navList %}
                                <li>
                                    <a href="{{item.link}}">
                                       {{ item.title }} 
                                    </a>
                                </li>
                            {% endfor %}
                            
                        </ul>
                        <div class="header__menu-more">
                            <span>
                                ...
                            </span>
                            <ul class="header__menu-hidden">
                                {% for item in navList %}
                                    <li>
                                        <a href="{{item.link}}">
                                           {{ item.title }} 
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                       
                       
                    </div>
                    <ul class="header__tools">
                        <li>
                            <a href="#">
                                {{mixins.icon('favorite')}}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{mixins.icon('cart')}}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{mixins.icon('user')}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <button class="header__mobile-btn">
                <span></span>
            </button>
        </div>
    </div>
</header>