<section class="catalog grid-line">
    <div class="container">
        {% include "components/title/_title.html" %}
        <div class="catalog__grid">
            {% for item in catalog %}
                {{ mixins.catalog(item.positions, item.title, item.icon, item.link)}}
            {% endfor %}
        </div>
    </div>
</section>

