<div class="services-grid">
    {% for item in services %}
        <a href="{{ item.link }}" class="services-grid__item" data-bgimg="img/{{ item.bgImg }}" >
            <span class="services-grid__text">
                {{ item.text }}
            </span>
        </a>
    {% endfor %}
</div>  


