<div class="error">
    <div class="container">
        <button class="bread-crumbs__back">
            Вернуться
        </button>
        <div class="error__content">
            <img src="img/error.png" alt="">
            <h4>
                Запрашиваемая страница не найдена.
            </h4>
            <button class="bread-crumbs__back error__back">
                Вернуться
            </button>
        </div>
    </div>
</div>