.icon-add-to-basket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-children {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gender {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lens {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-man {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-price-tag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shining {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-bag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star-solid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sticker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-time-record {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-woman {
  width: 1em;
  height: 1em;
  fill: initial;
}
