<section class="stockpage">
    <div class="container container-small">
        {% set titleClass = 'template' %}
        {% include 'components/title/_title.html' %}
        {% if stockTitle %}
            <h3 class="stockpage__title">
                {{ stockTitle }}
            </h3>
        {% endif %}
        {% if timeStart %}
            <div class="stockpage__time">
                <p>Период проведения акции</p>
                <p>
                    <span>
                        {{ timeStart }}
                    </span>
                    {% if timeEnd %}
                    <span>
                        {{ timeEnd }}
                    </span>
                    {% endif %}
                </p>
            </div>
        {% endif %}
        <div class="stockpage__text">
            {% block stockText %}

            {% endblock %}
        </div>
    </div>
</section>