<section class="stocklist grid-line">
    <div class="container container-small">
        {% if title %}
            {% include "components/title/_title.html" %}
        {% endif %}
        <ul class="stocklist__list">
            {% for stock in stocklist %}
                <li>
                    <h5>
                        Период проведения акции: <span>{{ stock.timeStart }}</span> {% if stock.timeEnd %}<span>{{ stock.timeEnd }}</span>{% endif %}
                    </h5>
                    <h4>
                        <a href="{{ stock.link }}">
                            {{ stock.title }}
                        </a>
                    </h4>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</section>